<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
</ion-header>
  
<ion-content class="background ion-text-center ion-padding">
  <ion-grid [ngStyle]="{'height': '100%'}">
      <ion-row  [ngStyle]="{'height': '50%'}" justify-content-center align-items-center>
        <img src="/assets/img/logo.png" height="150" width="150" alt="" class="logo"/>
        <ion-text>
          <h1>Restablecer contraseña</h1>
          <p class="ion-padding">Necesitamos tu correo electronico para restablecer la contraseña.</p>
        </ion-text>
      </ion-row>

      <ion-row [ngStyle]="{'height': '50%'}">
        <form [ngStyle]="{'height': '100%','position':'relative', 'width':'100%'}" [formGroup]="restoreForm" (ngSubmit)="restore()">

          <ion-item class="input-round" [ngStyle]="{'position':'absolute','bottom':'35%','width':'100%'}">
            <img src="/assets/icon/email.png" alt="" class="icon"/>
            <ion-input class="ion-padding-start" placeholder="Email" type="mail" formControlName="email" ></ion-input>
          </ion-item>
        
          <div [ngStyle]="{'position':'absolute','bottom':'10%','width':'100%'}">
            <div class="box-gradient">
              <ion-button expand="block" fill="clear" class="btn-home" type="submit" [disabled]="!restoreForm.valid">Enviar</ion-button>
            </div>
          </div>
        </form>
      </ion-row>
      
  </ion-grid>
</ion-content>
