.background{
    --background: url("/assets/img/iniciar sesion bg.png") 0 0/100% 100% no-repeat;
}

.btn-up{
    position: fixed;
    left: 10%;
    bottom: 13%;
    right: 0;
}

.btn-down{
    position: fixed;
    left: 10%;
    bottom: 5%;
    right: 0;
}