<ion-content class="background" padding >
  <ion-grid [ngStyle]="{'height': '100%'}">
      <ion-row  [ngStyle]="{'height': '70%'}" justify-content-center align-items-center>
          <img src="/assets/img/logo.png" height="150" width="150" class="logo" alt=""/>
      </ion-row>
      <div class="box-gradient">
        <ion-button [routerLink]="['/login']" expand="block" fill="clear" class="btn-home">Iniciar Sesión</ion-button>
      </div>
      <div class="box-gradient">
        <ion-button [routerLink]="['/signin']" expand="block" fill="clear" class="btn-home">Crear Cuenta</ion-button>
      </div>
  </ion-grid>
</ion-content>