<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="pin"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" [ngStyle]="{'border-right':'1px solid #d3d3d3', 'border-left':'1px solid #d3d3d3'}">
      <ion-icon name="clipboard"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
