<ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="ion-float-left">
          <img src="/assets/img/logo.png" height="40" width="40" alt="" class="logo"/>      
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-float-right">
          <ion-item lines="none">
            <ion-label>{{message}}</ion-label>
            <ion-toggle color="primary" (ionChange)="changeToggle($event)"></ion-toggle>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="background">

  <ion-grid style="height: 100%" *ngIf="loader == true">
    <ion-row class="ion-align-items-center ion-justify-content-center" style="height: 100%; flex-direction: column">
      <ion-spinner color="primary" class=""></ion-spinner>
      Cargando viajes...
    </ion-row>
  </ion-grid>

    <div *ngIf="loader == false">
      <div *ngFor='let trip of trips'>
        <ion-card class="card mt-3">
          <ion-card-header class="card-header-turist">
            <div class="ion-float-left">
              {{trip.title}}
            </div>
            <div class="ion-float-right" *ngIf="trip.type != ''">
              Viaje turistico
            </div>
          </ion-card-header>
          <ion-card-content class="ion-margin-top">
            <p>{{trip.point}}{{trip.time}}</p>
            <div>
              <ion-grid>
                <ion-row>
                  <ion-col size="2"></ion-col>
                  <ion-col size="5">
                    <ion-button fill="clear" class="btn-trip" (click)="reserveTrip(trip.id)">Tomar viaje</ion-button>
                  </ion-col>
                  <ion-col size="5">
                    <ion-button fill="clear" class="btn-trip">Ver detalle</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

</ion-content>
